<footer class="w-100 py-4 flex-shrink-0 text-white">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">MangaVerse</h5>
                <p class="small text-muted">Os melhores Jogos Torrent Grátis para download completo no formato ISO e EXE, Jogos Torrent Crackeados ou com Crack Incluso para baixar via torrent e sem frescura no Torrent Jogos.</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Dev Victor</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Navegar</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Novidades</a></li>
                    <li><a href="#">Ordem Alfabetica</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Newsletter</h5>
                <p class="small text-muted">Inscreva-se na nossa newsletter e fique por dentro das últimas novidades, lançamentos e dicas exclusivas para elevar sua experiência nos jogos!</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control text-white" type="text" placeholder="Email">
                        <button class="btn btn-primary" id="button-addon2" type="button"><ng-icon name="bootstrapCursorFill" style="margin-bottom: 12px;"></ng-icon></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>