<app-header></app-header>

<div class="content-main container">
    <div class="lancamentos">
        <div class="separator">
            <div class="page-separator">
                <h3 class="m-0">Lançamentos</h3>
                <div class="box-bar mt-2">
                    <div class="bar-gradient"></div>
                </div>
            </div>
            <span>Explore o mais recentes lançamentos que irão cativar sua imaginação e levá-lo a emocionantes aventuras</span>
        </div>
        <app-carousel></app-carousel>
    </div>
    <div class="destaques pt-4">
        <div class="separator py-4">
            <div class="page-separator">
                <h3 class="m-0">Destaques</h3>
                <div class="box-bar mt-2">
                    <div class="bar-gradient"></div>
                </div>
            </div>
            <span>Descubra os destaques que brilham intensamente entre os lançamentos, garantindo momentos épicos e inesquecíveis</span>
        </div>
        <app-destaques></app-destaques>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
