<div class="content">
      <ul class="gallery">
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0302/8jomNsyMYDoJnzFkBrr9Rit2.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Assassin's Creed Valhalla</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://m.media-amazon.com/images/I/71bRU7hJB0L._AC_UF1000,1000_QL80_.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Solo Leveling</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://m.media-amazon.com/images/I/71bRU7hJB0L._AC_UF1000,1000_QL80_.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Solo Leveling</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://m.media-amazon.com/images/I/71bRU7hJB0L._AC_UF1000,1000_QL80_.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Solo Leveling</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
            <li class="card-list">
                  <div class="card">
                        <div class="image-card">
                              <img src="https://m.media-amazon.com/images/I/71bRU7hJB0L._AC_UF1000,1000_QL80_.jpg" alt="">
                        </div>
                        <div class="text-card">
                              <h4>Solo Leveling</h4>
                              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima velit quos corporis id sit deserunt architecto ipsam sequi...</span>
                        </div>
                  </div>
            </li>
      </ul>
</div>
